---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { Image } from "astro:assets";
import logoImage from "../content/1.jpg";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <main>
            <Image
                src={logoImage}
                alt="$NKD logo. extremely memable."
                width="100"
            />
            <h1>NAKED MAN ($NKD)</h1>
            <a
                href="https://explorer.solana.com/address/6WodEFtgTkC7uizNF4E46TY6xx3YKPTgjzXz8TSdEb9S"
                target="_blank">6WodEFtgTkC7uizNF4E46TY6xx3YKPTgjzXz8TSdEb9S</a
            >

            <div class="whitepaper">
                <p>
                    <strong>$NKD is a symbol of freedom.</strong>
                </p>
                <p>
                    I propose a purely peer-to-peer version of the fucks no
                    longer given — about anything, anyone, or any illusion this
                    world insists we care about.
                </p>
                <p>
                    The system uses a fixed-supply fungible token, $NKD, with no
                    decimals, and no central control. It cannot be changed,
                    frozen, or minted again.
                </p>

                <p><strong>Token Specification</strong></p>
                <table>
                    <tr><td><strong>Name</strong></td><td>NAKED MAN</td></tr>
                    <tr><td><strong>Symbol</strong></td><td>$NKD</td></tr>
                    <tr><td><strong>Chain</strong></td><td>Solana</td></tr>
                    <tr><td><strong>Decimals</strong></td><td>0</td></tr>
                    <tr
                        ><td><strong>Total Supply</strong></td><td
                            >77,302,580</td
                        ></tr
                    >
                    <tr
                        ><td><strong>Mint Authority</strong></td><td>Revoked</td
                        ></tr
                    >
                    <tr
                        ><td><strong>Freeze Authority</strong></td><td
                            >Disabled</td
                        ></tr
                    >
                    <tr
                        ><td><strong>Initial Liquidity</strong></td><td
                            >Community-Sourced</td
                        ></tr
                    >
                </table>
            </div>
        </main>
        <Footer />
    </body>
</html>
